<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

    <test name="Regression test on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="automation.testsuite.ChauVoi_SoftByPrice"/> 
            <class name="automation.testsuite.ChauVoi_SoftByOrigin"/> 
            <class name="automation.testsuite.ChauVoi_SoftByMaterial"/> 
            <class name="automation.testsuite.ChauVoi_SoftByCategory"/> 
            <class name="automation.testsuite.ChauVoi_SoftByBrand"/> 
        </classes>    
    </test> 

    <test name="Regression test on Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="automation.testsuite.ChauVoi_SoftByPrice"/> 
            <class name="automation.testsuite.ChauVoi_SoftByOrigin"/> 
            <class name="automation.testsuite.ChauVoi_SoftByMaterial"/> 
            <class name="automation.testsuite.ChauVoi_SoftByCategory"/> 
            <class name="automation.testsuite.ChauVoi_SoftByBrand"/> 
        </classes>    
    </test> 

    <test name="Regression test on Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="automation.testsuite.ChauVoi_SoftByPrice"/> 
            <class name="automation.testsuite.ChauVoi_SoftByOrigin"/> 
            <class name="automation.testsuite.ChauVoi_SoftByMaterial"/> 
            <class name="automation.testsuite.ChauVoi_SoftByCategory"/> 
            <class name="automation.testsuite.ChauVoi_SoftByBrand"/> 
        </classes>    
    </test> 

</suite>
